<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.uearn.qa.testcases.TeamCreationPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>select_tl_and_add_new_agent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>change_the_role_of_tl_in_team</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>add_new_tl_to_team</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>change_the_role_of_agent_under_tl</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>click_on_manageteam_field</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>signin_with_creadentials</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>teardown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
