<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beadca">  <td>21/01/07 09:59:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TeamCreationPageTest.add_new_tl_to_team()[pri:1, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">add_new_tl_to_team</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:03:41</td>   <td>267756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TeamCreationPageTest.change_the_role_of_agent_under_tl()[pri:5, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">change_the_role_of_agent_under_tl</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:01:10</td>   <td>116708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TeamCreationPageTest.change_the_role_of_tl_in_team()[pri:3, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">change_the_role_of_tl_in_team</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:00:23</td>   <td>69529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TeamCreationPageTest.click_on_manageteam_field()[pri:2, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">click_on_manageteam_field</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:02:28</td>   <td>194826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TeamCreationPageTest.select_tl_and_add_new_agent()[pri:4, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">select_tl_and_add_new_agent</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 09:57:49</td>   <td>-84541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TeamCreationPageTest.setup()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 09:58:45</td>   <td>-28458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TeamCreationPageTest.setup()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 09:59:55</td>   <td>41281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TeamCreationPageTest.setup()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:00:41</td>   <td>87930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TeamCreationPageTest.setup()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:02:00</td>   <td>166448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TeamCreationPageTest.setup()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:03:04</td>   <td>230044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TeamCreationPageTest.setup()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 09:58:35</td>   <td>-38562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TeamCreationPageTest.signin_with_creadentials()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">signin_with_creadentials</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 09:58:38</td>   <td>-35836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TeamCreationPageTest.teardown()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 09:59:47</td>   <td>33819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TeamCreationPageTest.teardown()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:00:34</td>   <td>80550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TeamCreationPageTest.teardown()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:01:53</td>   <td>159019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TeamCreationPageTest.teardown()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:02:56</td>   <td>222676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TeamCreationPageTest.teardown()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/01/07 10:04:17</td>   <td>303237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TeamCreationPageTest.teardown()[pri:0, instance:com.uearn.qa.testcases.TeamCreationPageTest@6f195bc3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
</table>
